<h1 class="headline">Hello. I'm Aija.</h1>

<p>I'm a 24-year-old graphic designer, currently living and working in Helsinki, Finland. I do User Interface design (both web and mobile), but also many other awesome things! I'm always eager to learn more and create better User Experiences.</p>
