<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>

 <div class="maincontent">
 <section class="content">

<%= yield %>

</section>
</div>

<div class="horizontalnav">
<nav class="navigation">
    <ul>
<% for page, title in pages %>
        <li><a href="<%= (page == :index ? '/' : "/#{page}.html") %>"><%= title %></a></li>
<% end %>
    </ul>
</nav>
</div>


</body>
</html>
