* {
    box-sizing: border-box;
}

.headline {
	font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: #fd1c56;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.horizontalnav {
    width: 500px;
    margin: 10px;
}

.maincontent {
    width: 100%;
    margin: 5px;
}

.content {
    max-width: 500px;
    padding: 15px;
}

.navigation {
	font-size: 18px;
    width: 500px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline-block;
}

.navigation a {
    text-decoration: none;
    color: #fd1c56;
}

.navigation a:hover {
    color: #F09986;
}
